{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    {% block style %}
    {% endblock style %}
</head>

<body class="bg-white font-poppins">

    <!-- ------------navbar--------------- -->
    <nav class="bg-white">
        <div class="font-poppins flex justify-between items-center py-4 px-40">

            <!-- logo -->
            <div>
                <img src="{% static "images/Logo.png" %}" alt="logo">
            </div>

            <!-- search -->
            <div class="bg-[#F5F5F5] w-72 flex p-4 rounded-md gap-4">
                <img src="{% static "./images/Search.png" %}" alt="search">
                <input type="text" placeholder="search" class="bg-transparent border-none outline-none">
            </div>

            <!-- menu -->
            <ul class="flex gap-12">
                <li><a href="/">Home</a></li>
                <li><a href="https://github.com/BlinkZ404/Project-OSCPFV/graphs/contributors">About</a></li>
                <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contact Us</a></li>
                <li><a href="">Blog</a></li>
            </ul>

            <!-- icon -->
            <div class="flex gap-8">
                
                <a  href="{% url "product:cart-page" %}"><img src="{% static "./images/Cart.png" %}" alt="Cart" class="w-8 h-8"></a>
                
                {% if user.is_authenticated %}
                <a href="{% url "profile-page" %}" class="hover:underline">
                  <img src="{% static "./images/User.png" %}" alt="User" class="w-8 h-8">
              </a>
              <a href="{% url "logout" %}" class="hover:underline">
               Logout
            </a>
             {% else %}
              <a href="{% url "login-page" %}" class="hover:underline">
                Login
            </a> 
            {% endif %}
            </div>
        </div>

        <div class="bg-[#656565] grid grid-cols-6 py-2 px-40">
            <div class="flex justify-center gap-2">
                <img src="{% static "./images/Phones.png" %}" alt="icon" class="w-6 h-6">
                <p>Phones</p>
            </div>

            <div class="flex justify-center gap-2 border-x-[1px] border-black">
                <img src="{% static "./images/Computers.png" %}" alt="icon" class="w-6 h-6">
                <p>Computers</p>
            </div>

            <div class="flex justify-center gap-2">
                <img src="{% static "./images/Smart Watches.png" %}" alt="icon" class="w-6 h-6">
                <p>Smart Watches</p>
            </div>

            <div class="flex justify-center gap-2 border-x-[1px] border-black">
                <img src="{% static "./images/Cameras.png" %}" alt="icon" class="w-6 h-6">
                <p>Cameras</p>
            </div>

            <div class="flex justify-center gap-2">
                <img src="{% static "./images/Headphones.png" %}" alt="icon" class="w-6 h-6">
                <p>Headphones</p>
            </div>

            <div class="flex justify-center gap-2 border-l-[1px] border-black">
                <img src="{% static "./images/Gaming.png" %}" alt="icon" class="w-6 h-6">
                <p>Gaming</p>
            </div>

        </div>
    </nav>

  {% block main %}
  {% endblock main %}
    
    <!-- -----------footer----------------- -->
    <footer class="bg-black text-white font-poppins py-24 px-40">
        <div class="flex justify-between">
            <div class="space-y-6">
                <img src="{% static "./images/Group 1.png" %}" alt="logo">
                <p class="text-sm text-[#CFCFCF]">We are an all-in-one solution for you to compare any IT <br>Product
                    available in the market.</p>
                <p class="text-sm text-[#CFCFCF]">Developed by</p>
                <a href="https://github.com/BlinkZ404"> Arifur Rahman </a><br>
                <a href="https://github.com/Musfiq21"> Samiul Islam </a><br>
                <a href="https://github.com/Oboni512"> Sazia Afrin </a><br>
                <a href="https://github.com/MoumiJahan"> Tabassum Jahan </a>


            </div>

            <div class="space-y-4">
                <p class="text-[16px] font-semibold">Services</p>
                <p class="text-sm font-light text-[#CFCFCF]">Bonus program</p>
                <p class="text-sm font-light text-[#CFCFCF]">Gift cards</p>
                <p class="text-sm font-light text-[#CFCFCF]">Credit and payment</p>
                <p class="text-sm font-light text-[#CFCFCF]">Service contracts</p>
                <p class="text-sm font-light text-[#CFCFCF]">Non-cash account</p>
                <p class="text-sm font-light text-[#CFCFCF]">Payment</p>
            </div>

            <div class="space-y-4">
                <p class="text-[16px] font-semibold">Assistance to the buyer</p>
                <p class="text-sm font-light text-[#CFCFCF]">Find an order</p>
                <p class="text-sm font-light text-[#CFCFCF]">Terms of delivery</p>
                <p class="text-sm font-light text-[#CFCFCF]">Exchange and return of goods</p>
                <p class="text-sm font-light text-[#CFCFCF]">Guarantee</p>
                <p class="text-sm font-light text-[#CFCFCF]">Frequently asked questions</p>
                <p class="text-sm font-light text-[#CFCFCF]">Terms of use of the site</p>
            </div>
        </div>

        <div class="flex gap-8 items-center mt-10">
            <a href="https://twitter.com/" target="_blank">
             <img src="{% static "./images/Twitter.png" %}" alt="icon" style="cursor: pointer;">
            </a>
            <a href="https://facebook.com/" target="_blank">
            <img src="{% static "./images/Facebook.png" %}" alt="icon" style="cursor: pointer;">
            </a>
            <a href="https://tiktok.com/" target="_blank">
            <img src="{% static "./images/Tiktok.png" %}" alt="icon" style="cursor: pointer;">
            </a>
            <a href="https://instagram.com/" target="_blank">
            <img src="{% static "./images/Instagram.png" %}" alt="icon" style="cursor: pointer;">
            </a>
        </div>

    </footer>
</body>

</html>