{% extends "base.html" %}

{% load static %}

{% block main %}

    <main class="p-8 flex gap-8">

        <!-- sidebar -->
        <div class="w-2/5 bg-white">
            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 bg-gray-200">
                <div class="w-14 h-14 bg-black flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Mask Group 63.png" %}" alt="icon">
                </div>
                <p>
                    Account Information
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Mask Group 62.png" %}" alt="icon">
                </div>
                <p>
                    My Order
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Group3.png" %}" alt="icon">
                </div>
                <p>
                    My Product Review
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Mask Group 63 (1).png" %}" alt="icon">
                </div>
                <p>
                    Customer Support
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Clip path group.png" %}" alt="icon">
                </div>
                <p>
                    One Stop Club
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Group (2).png" %}" alt="icon">
                </div>
                <p>
                    Browser History
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Clip path group (1).png" %}" alt="icon">
                </div>
                <p>
                    Manage Address
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Mask Group 66.png" %}" alt="icon">
                </div>
                <p>
                    Saved Payment Method
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Group 4315.png" %}" alt="icon">
                </div>
                <p>
                    Complain Box
                </p>
            </div>
        </div>