{% extends "base.html" %}

{% load static %}

{% block main %}

    <main class="p-8 flex gap-8">

        <!-- sidebar -->
        <div class="w-2/5 bg-white">
            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 bg-gray-200">
                <div class="w-14 h-14 bg-black flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Mask Group 63.png" %}" alt="icon">
                </div>
                <p>
                    Account Information
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Mask Group 62.png" %}" alt="icon">
                </div>
                <p>
                    My Order
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Group3.png" %}" alt="icon">
                </div>
                <p>
                    My Product Review
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Mask Group 63 (1).png" %}" alt="icon">
                </div>
                <p>
                    Customer Support
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Clip path group.png" %}" alt="icon">
                </div>
                <p>
                    One Stop Club
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Group (2).png" %}" alt="icon">
                </div>
                <p>
                    Browser History
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Clip path group (1).png" %}" alt="icon">
                </div>
                <p>
                    Manage Address
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Mask Group 66.png" %}" alt="icon">
                </div>
                <p>
                    Saved Payment Method
                </p>
            </div>

            <div class="flex items-center gap-4 border-b-2 py-4 pl-6 hover:bg-gray-200">
                <div class="w-14 h-14 bg-slate-300 flex items-center justify-center rounded-full">
                    <img src="{% static "./images/Profile/Group 4315.png" %}" alt="icon">
                </div>
                <p>
                    Complain Box
                </p>
            </div>
        </div>


        <!-- main part -->
        <div class="h-3/5 space-y-8">

            <!-- part1 -->
            <div class="p-8 bg-white space-y-4">
                <div class="flex justify-between items-center">
                    <p class="font-medium text-2xl">Account Information</p>
                    <button class="text-[#A1A1A1] text-xs rounded px-8 py-1 border-2 border-[#A1A1A1]">Edit</button>
                </div>

                <div>
                    <p class="text-[#A1A1A1] text-xs" style="margin-top: 40px;">UserName</p>
                    <p class="w-[500px] leading-10 border-b-2 outline-none text-[#333333]">{{ user.username }}</p>
                </div>

                <div>
                    <p class="text-[#A1A1A1] text-xs" style="margin-top: 40px;">Email</p>
                    <p class="w-[500px] leading-10 border-b-2 outline-none text-[#333333]">{{ user.email }}</p>
                </div>
            </div>

            <!-- part2 -->
            <div class="p-8 bg-white space-y-4" style="margin-top: 80px;">
                <div class="flex justify-between items-center">
                    <p class="font-medium text-2xl">Account Security</p>
                    <button class="text-[#A1A1A1] text-xs rounded px-8 py-1 border-2 border-[#A1A1A1]">Edit</button>
                </div>

                <div class="flex justify-between gap-4">
                    <div>
                        <p class="text-[#A1A1A1] text-xs">Email</p>
                        <input type="text" class="w-[340px] leading-10 border-b-2 outline-none text-[#333333]"
                            placeholder="Enter Your Email">
                        <p class="text-sm font-medium underline mt-6 text-[#A1A1A1]">Change email address</p>
                    </div>

                    <div>
                        <p class="text-[#A1A1A1] text-xs">Password</p>
                        <input type="text" class="w-[340px] leading-10 border-b-2 outline-none text-[#333333]"
                            placeholder="*****">
                        <p class="text-sm font-medium underline mt-6 text-[#A1A1A1]">Change password</p>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock main %}